.btn, .button, #submit, .buttonContainer input.submit, footer .af-body.af-standards input.submit {
    border-radius: 0;
    background-color: $headings-primary;
    border: none;
    padding: 10px 20px;
}
 .btn:hover, .button:hover, #submit:hover
  .btn:focus, .button:focus, #submit:focus
  .btn.focus {
    background-color: lighten($headings-primary, 10%) !important;
  }
