button, input, select, textarea {
    padding:  9px 10px;
    font-size: 14px;
}
.select2-container .select2-choice {
    padding: 5px 0 5px 8px;
    border: 1px solid #000;
    color: #444;
    border-radius: 0;
}
label[for=rememberme].inline {
    display: none;
}
input[type=text], input[type=email], input[type=password] {
    min-width: 200px;
    border: 1px solid #000;
}
.comment-form input[type=text], .comment-form input[type=email], .comment-form input[type=url], .comment-form textarea, .form-control {
    height: 40px;
    border-radius: 0;
}
/* aweber */
.af-form {
    max-width: 100% !important;
    height: 70px;
}
 .af-body input.text[type=text] {
    padding: 11px !important;
    min-width: 200px !important;
    border: 1px solid #000 !important;
}
.af-clear {
    clear: none !important;
}
.af-element {
    float: left !important;
    margin-right: 5px !important;
}
/* mailchimp */
#mc4wp-form-1 {
    height: 70px;
}
#mc4wp-form-1 .mc4wp-form-fields {
    padding: 5px 0;
}
#mc4wp-form-1 .mc4wp-form-fields label {
    display: none;
}
#mc4wp-form-1 .mc4wp-form-fields p {
    float: left;
    margin: 0;
}
#mc4wp-form-1 .mc4wp-form-fields p input {
    margin-right: 5px;
}
#mc4wp-form-1 .mc4wp-form-fields p input[type=submit] {
    background-color: #880F0F;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    padding: 10px 20px;
    border: none;
}
