body {color: #000;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    font-family: $text-font;
}
.h1, h1 {
    font-size: 30px;
}
.h3, h3 {
    font-weight: 700;
    font-size: 18px;
}
hr {
    border-top: 1px solid #000;
}
.container {
    width: 100%;
    max-width: 1373px;
}
.page-header {
    margin: 0 0 45px;
    padding: 0;
    border: none;
}
.page-header h1 {
    padding: 25px 0 30px;
    margin: 0;
    border-top: 2px solid #880F0F;
    border-bottom: 2px solid #880F0F;
}

// social counter
.social-count-plus ul.custom.vertical li {
    float: left;
    width: auto;
    padding: 0;
}
.social-count-plus .label {
    display: none;
}
.social-count-plus .count-facebook a.icon, .social-count-plus .count-instagram a.icon, .social-count-plus .count-twitter a.icon {
    width: 20px;
    height: 20px;
}
.social-count-plus .count-facebook a.icon {
    background: url(../images/fb_top.jpg) no-repeat;
}
.social-count-plus .count-instagram a.icon {
    background: url(../images/inst_top.jpg) no-repeat;
}
.social-count-plus .count-twitter a.icon {
    background: url(../images/tw_top.jpg) no-repeat;
}
.social-count-plus .vertical .items {
    background: #ebebeb;
    padding: 1px 10px 2px;
    margin-right: 10px;
    position: relative;
}
.social-count-plus .vertical .count {
    color: #32363b;
    font-size: 0.7em;
}
.social-count-plus .vertical .items:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 8px;
    width: 0px;
    height: 0px;
    border-right: 6px solid #e8e8e8;
    border-top: 4px solid transparent;
    clear: both;
    border-bottom: 4px solid transparent;
}

// homepage tabs
.tabs{
	display:inline-block;
    width: 100%;
    background: #e5e5e5;
    margin-top: 70px;
}
.tabs > div{
	padding:35px 45px;
}
.tabs ul{
	margin:-80px 0 35px;
	padding:0;
    text-align: center;
}
.tabs > ul li{
	padding:0;
	cursor:pointer;
	display:inline-block;
	margin:0 45px;
}
.tabs > ul li h2 {
	padding:0;
	margin:0;
    font-family: $headings-font;
}
.tabs > ul li.active, .tabs > ul li.active:hover{
	border-bottom: 3px solid #880F0F;
}
.tabs > ul li:hover{
	border-bottom: 3px solid #880F0F;
}

// slider
.slider {
    position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 0 50px;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 106px;
    width: 77px;
    background: transparent url('../images/slider-arrow.png') no-repeat left top;
    margin-top: -75px;
    opacity: 0.5;
}
.rslides_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}
.rslides_nav:hover {
    opacity: 1;
}
.rslides_tabs {
    bottom: 30px;
    text-align: center;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
}
.rslides_tabs li {
    display: inline;
    float: none;
    _float: left;
    margin-right: 5px;
}
.rslides_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 22px;
    background: #ccc;
    background: rgba(0,0,0, .2);
    display: inline-block;
    _display: block;
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 11px;
    height: 11px;
}
.rslides_tabs .rslides_here a{
    background: #555555;
    background: rgba(0,0,0, .5);
}
// endorsements
h2.h2brown {
    text-align: center;
    margin: 40px 0 50px;
}
.brown {
    background: #b9a991;
    color: #fff;
}
.brown .content.row {
    padding: 60px 30px;
}
.brown main.main {
    padding-left: 60px;
}
.brown .widget img {
    width: 100%;
}
.brown h2 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px;
    padding: 0 0 10px;
    line-height: 0.7;
    border-bottom: 3px solid $headings-primary;
}
.brown blockquote {
    background: #fff;
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    color: #000;
}
blockquote p {
    padding: 15px 35px;
}
blockquote p:before {
    content: url('../images/openquote.png');
    float: left;
    margin-left: -35px;
    margin-top: -10px;
}
.brown blockquote p:after {
    content: url('../images/closequote.png');
    float: right;
    margin-right: -35px;
    margin-top: 10px;
}
.brown blockquote cite {
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: $headings-primary;
    font-family: $text-font;
}
.brown blockquote cite small {
    font-size: 12px;
    color: #6d6c6c;
}
.brown blockquote cite small:before {
    content: "";
}
// responcive video
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
