@media screen and (max-width: 1373px) {
    .brown .content.row {
        padding: 60px 0;
    }
    .tabs>div {
        padding: 35px 15px;
    }
    footer .footer-left {
        margin-left: 0;
    }
    footer .footer-right {
        margin-right: 0;
    }
}
