/* footer widgets */
footer.content-info {
    margin-top: 33px;
}
footer .footer-left {
    float: left;
    width: 34%;
    margin-left: 45px;
}
footer .footer-right {
    float: right;
    margin-right: 45px;
}
footer section.widget {
    width: 250px;
    float: left;
    font-family: $text-font;
    padding-left: 52px;
}
footer .footer-left section.widget {
    width: 100%;
    padding: 0;
    float: none;
}
footer section.widget h3 {
    color: $headings-primary;
    margin-bottom: 20px;
    font-weight: 400;
}
footer section.widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
footer section.widget .red-disc {
    list-style-image: url(../images/bullet-red.png);
    padding: 0 0 0 1em;
    margin: 1em 0;
    line-height: 150%;
}
.social-links {
    text-align: right;
}
.social-links a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 18px 0 0;
}
.social-links a:last-of-type {
    margin: 0;
}
.social-links a.fb {
    background: url(../images/Facebook.png) no-repeat;
}
.social-links a.tw {
    background: url(../images/Twitter.png) no-repeat;
}
.social-links a.yt {
    background: url(../images/YouTube.png) no-repeat;
}
.social-links a.inst {
    background: url(../images/Instagram.png) no-repeat;
}
.money-methods {
    background: url(../images/moneymethods.png) no-repeat;
    width: 210px;
    height: 24px;
    margin: 100px 0 0 -18px;
    float: right;
}
.copyright {
    background-color: #000000;
    border-bottom: 6px solid $headings-primary;
    width: 100%;
    height: 65px;
    padding: 15px 0;
    margin-top: 25px;
    font-family: $text-font;
}
.copyright .c-left {
    float:left;
    width: 226px;
    height: 34px;
    background: url(../images/logo-bottom.png) no-repeat;
}
.copyright .c-right {
    float: right;
    color: #ffffff;
    margin-top: 10px;
}
