.header-top {
    background-color: #000000;
    border-top: 5px solid $headings-primary;
    width: 100%;
    height: 57px;
    padding: 15px 0;
}
.header-top .social {
    float: left;
}
.header-top .offer {
    float: right;
    background: url(../images/Red-Tag.png) no-repeat left center;
    padding: 0 0 0 25px;
    color: #fff;
}
.header-top .offer span.coupon {
    display: inline-block;
    background: #fff;
    color: $headings-primary;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 5px;
}
header.banner {
    margin: 30px 0 40px;
}
a.brand {
    width: 438px;
    height: 67px;
    float: left;
    background: url(../images/Logo.png);
    text-indent: -9999px;
}
.header-top .offer {
    font-family: $headings-font;
}
nav {
    height: 37px;
    float: right;
}
.nav {
    float: left;
}
.nav > li {
    float: left;
    position: relative;
}
.nav li a {
    padding: 10px 46px 10px 0;
    font-weight: 700;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: $headings-primary;
    background: none;
}
.nav li.menu-item span {
    color: $headings-primary;
    font-family: $text-font;
    font-weight: 700;
    text-shadow: 1px 0px 0px #880f0f;
}
.nav li.menu-item-has-children > a:after {
    content: url(../images/dropdown.png);
    width: 12px;
    height: 9px;
    margin-left: 5px;
}
.nav li ul.sub-menu {
    display: none;
    background: #000;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 40px;
    width: 200px;
    padding: 5px 10px 10px;
    z-index: 1000;
}
.nav li ul.sub-menu li {
    width: 100%;
}
.nav li ul.sub-menu li a {
    color: #979696;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}
.nav li ul.sub-menu li a:hover {
    color: #ffffff;
}
.nav li:hover ul.sub-menu {
    display: block;
}
.nav li.wpmenucartli a {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}
.nav li.wpmenucartli a span {
    color: #000;
    text-shadow: none;
}
