.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.wc_avatax_validate_address {
    font-family: $text-font;
    font-weight: normal;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 14px;
    background-color: $headings-primary;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.wc_avatax_validate_address:hover {
    background-color: lighten($headings-primary, 10%);
    color: #fff;
}
.single.woocommerce .summary.entry-summary button.button,
.single.woocommerce .summary.entry-summary .button,
.single.woocommerce input.button {
    padding: 16px 20px;
    font-size: 18px;
}
.woocommerce .summary.entry-summary .button {
    padding: 0.929em 1em;
}
.woocommerce table.shop_table .button.muted {
    background-color: #5c5c5c;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    background-color: #fff;
    border-top: none;
    color: $headings-primary;
    margin: 0 !important;
    padding: 1.5em 2em 1em 3.5em !important;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {
    margin-top: -.5em;
}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before {
    top: 1.5em;
    color: $headings-primary;
}
.single.woocommerce .woocommerce-error, .single.woocommerce .woocommerce-info, .single.woocommerce .woocommerce-message {
    border-top: 2px solid $headings-primary;
}
.cart.woocommerce-cart .woocommerce-error, .cart.woocommerce-cart .woocommerce-info, .cart.woocommerce-cart .woocommerce-message  {
    display: none;
}
.woocommerce .products ul, .woocommerce ul.products {
    padding: 2em 0;
    min-height: 430px;
}
.woocommerce .products .star-rating {
    margin: 0 auto .5em;
}
.woocommerce .star-rating span {
    color: #ffd100;
}
.star-rating-selector:not(:checked) label.checkbox:hover, .star-rating-selector:not(:checked) label.checkbox:hover ~ label.checkbox {
    color: #ffd100;
}
.woocommerce #reviews .product-rating .product-rating-details table td.rating-graph .bar, .woocommerce-page #reviews .product-rating .product-rating-details table td.rating-graph .bar {
    background-color: #ffd100;
}
.woocommerce ul.products li.product .price {
    color: $headings-primary;
    background: #fff;
    padding: 3px;
    display: inline-block;
    font-size: 18px;
    font-family: $text-font;
    font-weight: 700;
}
.main.fullwidth .page-header, .account .page-header, .checkout .page-header {
    margin-bottom: 10px;
}
.cart .page-header, .single.woocommerce .page-header, .edit-my-list .page-header {
    margin-bottom: 0;
}
body.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
}

body.woocommerce.post-type-archive ul.products li.last,
.woocommerce-page.post-type-archive ul.products li.last,
body.woocommerce.tax-product_cat ul.products li.last {
    margin-right: 0;
}
body.archive.woocommerce .main .page-title {
    float: left;
}
.woocommerce nav.woocommerce-pagination {
    float: none;
}
body.single-product  .main > .product {
    border-top: 2px solid $headings-primary;
    padding-top: 50px;
}
.woocommerce span.onsale {
    display: none;
}
.woocommerce-page  .woocommerce-tabs.wc-tabs-wrapper {
    float: right;
    width: 48%;
    clear: none !important;
}
.related.products, .upsells.products {
    clear: both;
}
/* account */

.account h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.account .digital-downloads h4 {
    font-size: 16px;
    font-weight: 900;
    color: #646464;
    font-style: italic;
    margin-top: 0;
}
.account-downloads a {
    color: $headings-primary;
}
.digital-downloads .category_block {
    width: 25%;
    float: left;
    margin-right: 3%;
}
.digital-downloads .category_block:first-child {
    width: 68%;
    float: left;
    margin-left: 3%;
    margin-right: 0;
}
.tag_block {
    width: 50%;
    float: left;
}
.tag_block ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}
.woocommerce table.shop_table,
.woocommerce table.shop_table.wl-table {
    max-width: 800px;
    border-radius: 0;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}
.woocommerce table.shop_table thead th,
.woocommerce table.shop_table.wl-table thead th  {
    padding: 20px 12px;
    background-color: #f0f0f0;
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table.wl-table td {
    border: 1px solid #000;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: left;
}
.woocommerce table.my_account_orders .order-actions {
    text-align: center;
}
.account address {
    margin: 0;
}
.account .account-downloads,
.account #wl-wrapper,
.account .wc-product-reviews-pro-profile {
    margin-bottom: 50px;
}
.account .star-rating {
    float: none;
}

// login page
#customer_login .col-1 {
    float: right;
}
#customer_login .col-2 {
    float: left;
}
.woocommerce form.login,
.woocommerce form.register {
    border: none;
    padding: 0;
    margin: 1em 0;
    text-align: left;
    border-radius: 0;
}
.woocommerce #customer_login form.login,
.woocommerce #customer_login form.register {
    width: 50%;
    float: left;
}
.woocommerce form .form-row a {
    color: $headings-primary;
}
.woocommerce form.register .form-row .button,
.woocommerce form.login .form-row .button{
    margin: 10px 0;
}
.woocommerce form .form-row small {
    float: right;
    margin: 20px 0;
}
.woocommerce form .form-row .input-checkbox {
    position: relative;
    margin: 0;
}
.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    margin: 5px 0;
    font-weight: 300;
}
// category
.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
    margin: 15px 10px;
    float: right;
}
.itemsorder, .itemsorder h3 {
    float: right;
    margin-left: 20px;
}
.woocommerce-ordering select,
.itemsorder select {
    padding: 5px;
}
.berocket_aapf_widget  {
    padding: 0;
}
/* pagination */
.gray {
    background: #f0f0f0;
    margin: 20px auto;
    height: 50px;
    max-width: 100%;
}
.gray .main {
    margin: 0 auto;
    float: none;
}
.woocommerce nav.woocommerce-pagination {
    font-size: 24px;
}
.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
    border: none;
    background: transparent;
}
.woocommerce nav.woocommerce-pagination ul li a {
    color: $headings-primary;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: none;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
    font-weight: 600;
    font-size: 30px;
    line-height: 0.6;
}
.prev.page-numbers:before, .next.page-numbers:after {
    content: "\e079";
    font-size: 30px;
    font-family: 'Glyphicons Halflings';
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: 0.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
}
.next.page-numbers:after {
    content: "\e080";
    float: right;
}

/* search box */
.woocommerce-product-search {
    float: right;
    font-size: 14px;
    position: relative;
    border: 1px solid #f0f0f0;
}
.woocommerce-product-search input {
    padding: 10px 8px 6px;
    border: none;
    float: left;
    &::-webkit-input-placeholder {color:#000;}
    &::-moz-placeholder          {color:#000;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#000;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#000;}
}
.woocommerce-product-search input[type="search"] {
    padding-right: 30px;
}
.woocommerce-product-search input[type="submit"] {
    background: none;
    text-indent: -9999px;
    position: absolute;
    right: 0;
    width: 20px;
}
.woocommerce-product-search:after {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 8px;
    top: 9px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e003";
}
/* single */
.pp_pic_holder .pp_social {
    display: none;
}
.product-purchased {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.woocommerce div.product .product_title {
    font-weight: 900;
}
.woocommerce div.product div.images {
    max-width: 600px;
}

div[itemprop="offers"] {
    float: left;
    border: 1px solid #000;
    padding: 7px 20px;
    margin-right: 20px;
}
#wl-wrapper.wl-button-wrap {
    clear: none;
    padding: 0;
    width: 245px;
    float: left;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $headings-primary;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}
#wl-wrapper .wl-add-but {
    margin-left: 20px;
}
.wl-already-in {
    margin-left: 20px;
    float: left;
}
.wl-already-in ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#wl-wrapper .wl-table td {
    vertical-align: middle;
}
.tagged_as a,
.posted_in a,
.summary.entry-summary div[itemprop=description] p {
    font-style: italic;
    color: #7c7c7c;
    font-size: 18px;
    font-weight: 500;
}
.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 0;
}
div[itemprop=offers] {
    margin-bottom: 10px;
}
div[itemprop="description"] {
    margin-bottom: 50px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,
#wl-wrapper .woocommerce-tabs ul.tabs {
    background: none;
    padding: 0 0 0 5px;
}
#wl-wrapper .woocommerce-tabs ul.tabs {
    background: none;
    padding: 0;
    border-bottom: 1px solid #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
#wl-wrapper .woocommerce-tabs ul.tabs:before {
    border-bottom: 1px solid #000;
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
#wl-wrapper .woocommerce-tabs ul.tabs li {
    border: 1px solid #000;
    border-radius: 0;
    padding: 0 1em;
    background-color: #ebe9eb;
    margin-top: 7px;
}
#wl-wrapper .woocommerce-tabs ul.tabs li {
    margin-top: 9px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
#wl-wrapper .woocommerce-tabs ul.tabs li a {
    color: $headings-primary;
    padding: .3em 0 .5em !important;
    border: none;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.reviews_tab a:after {
    content: url('../images/review-icon.png');
    margin: 0px 0 0 7px;
}
#wl-wrapper .woocommerce-tabs ul.tabs li.active,
{
    background: #fff;
    z-index: 2;
    border-bottom-color: #fff;
    margin-top: 1px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
#wl-wrapper .woocommerce-tabs ul.tabs li.active a {
    padding: .8em 0 .5em !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
#wl-wrapper .woocommerce-tabs ul.tabs li:after,
#wl-wrapper .woocommerce-tabs ul.tabs li:before {
    content: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
#wl-wrapper .woocommerce-tabs ul.tabs li a:hover {
    color: inherit;
}
.woocommerce .woocommerce-tabs .panel {
    box-shadow: none;
    font-size: 18px;
    line-height: 24px;
    border: none;
}
.single-product .brown .content.row {
    padding: 20px 15px;
}
.single-product .brown .main {
    padding: 0;
}
.woocommerce .brown .products ul, .woocommerce .brown ul.products {
    padding: 2em 0 0;
    margin: 0;
}
.related {
    margin: 40px 0 10px;
    float: left;
}
.related h2 {
    color: $headings-primary;
    margin: 1em 0 1em;
}


/* cart page */
.gotoshop,
.gotocart,
.showlogin {
    color: $headings-primary;
    margin: 30px 0;
    display: block;
}
.gotocart {
    float: left;
    margin: 0 0 10px;
}
.showlogin {
    float: right;
    margin: 0 0 10px;
}
.showlogin:before {
    content: url('../images/dropdown.png');
    margin-right: 15px;
}
.gotoshop:before, .gotocart:before {
    content: url('../images/left_arrow.png');
    margin-right: 15px;
}
.cart-empty {
    margin: 30px 0;
}
.woocommerce table.shop_table.special,
.woocommerce table.shop_table.wl-table {
    max-width: 100%;
    border: 1px solid #f0f0f0;
    border-right: none;
    border-left: none;
    text-align: left;
}
.woocommerce table.shop_table.special thead th,
.woocommerce table.shop_table.wl-table thead th {
    background-color: transparent;
    min-width: 100px;
}
.woocommerce table.shop_table thead th.product-subtotal,
.woocommerce table.shop_table thead th.product-price {
    width: 140px;
}
.woocommerce table.shop_table thead th.product-remove {
    min-width: 20px;
    width: 20px;
}
.woocommerce table.shop_table.special td,
.woocommerce table.shop_table.wl-table td {
    border: 1px solid #f0f0f0;
    border-right: none;
    border-left: none;
}
.woocommerce-cart table.special td.actions .coupon .input-text {
    padding: 10px 10px;
    line-height: 18px;
    font-size: 13px;
}
.woocommerce-cart table.special img {
    width: 100px;
}
.woocommerce-cart table.special .product-name a {
    margin-right: 20px;
    color: $headings-primary;
}
.woocommerce a.remove {
    background: #5c5c5c;
    border-radius: 0;
    color: #fff !important;
    line-height: 1;
    float: right;
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.woocommerce a.remove:hover {
    color: $headings-primary !important;
    background: #5c5c5c;
}
.cart .woocommerce .product-name {
    width: 700px;
}
.woocommerce table.shop_table.special .cart_totals > table,
.cart_totals .wc-proceed-to-checkout {
    float: right;
    border: none;
}
.woocommerce table.shop_table.special .cart_totals > table td,
.woocommerce table.shop_table.special .cart_totals > table th {
    border: none;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    margin-bottom: 0;
}
.woocommerce-cart table.cart .cart-subtotal td {
    vertical-align: baseline;
    padding-top: 12px;
}
.woocommerce-cart .cart-subtotal .amount {
    font-size: 18px;
    font-weight: 900;
}
.wc-cart-shipping-notice {
    font-style: italic;
}

/* wishlist page */
.woocommerce .shop_table .product-quantity {
    display: none;
}
/* checkout */
.woocommerce-checkout .col2-set .col-1 {
    width: 50.5%;
    padding-right: 2%;
    border-right: 1px solid #f0f0f0;
}
.woocommerce-checkout  form.checkout > .woocommerce-error {
    width: 50.5%;
    padding-right: 2%;
    border-right: 1px solid #f0f0f0;
}
.woocommerce-checkout .woocommerce {
    position: relative;
}
.woocommerce-checkout .woocommerce .col2-set .col-2 {
    position: absolute;
    top: 0;
    right: 0;
}
.woocommerce-checkout .woocommerce .col2-set .col-2 h3 {
    margin-top: 0;
}
.woocommerce-checkout .col-top {
    width: 50.5%;
    padding-right: 2%;
    border-right: 1px solid #f0f0f0;
    margin-top: 20px;
}
.woocommerce-checkout h3 {
    font-size: 24px;
}
.woocommerce table.woocommerce-checkout-review-order-table,
.woocommerce table.woocommerce-checkout-review-order-table td {
    border: none;
}
.shop_table .product-name .image {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    margin: 20px 30px 20px 0;
}
.shop_table .product-name .product-name-cat {
    display: inline-block;
}
.shop_table .product-name .image strong.product-quantity {
    position: absolute;
    right: 0;
    background: #880F0F;
    border-radius: 22px;
    width: 22px;
    height: 22px;
    padding: 1px;
    text-align: center;
    color: #fff;
    top: 0;
}
.shop_table .product-name .image img {
    width: 100%;
    height: 100%;
}
.product-name, .product-total {
    font-size: 16px;
}
.product-name .posted_in a, .product-name strong.product-quantity {
    font-size: 14px;
}
.woocommerce form .form-row .select2-container {
    line-height: 1.7em;
}
.woocommerce form.checkout_coupon {
    padding: 20px 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-right: none;
    border-left: none;
    margin: 0;
}
.checkout_coupon .input-text {
    width: 66%;
    margin-right: 4%;
}
.checkout_coupon .button {
    width: 29%;
}
.woocommerce table.woocommerce-checkout-review-order-table tfoot th,
.woocommerce table.woocommerce-checkout-review-order-table tfoot td {
    border: none;
    font-weight: 400;
}
.woocommerce table.woocommerce-checkout-review-order-table tfoot .order-total {
    font-size: 18px;
}
.woocommerce table.woocommerce-checkout-review-order-table tfoot .order-total .amount {
    font-size: 24px;
}
.woocommerce-checkout #payment {
    background: #fff;
}
.woocommerce #payment .terms, .woocommerce-page #payment .terms {
    text-align: left;
    padding-left: 0;
}
.woocommerce-checkout form.login input.input-text {
    width: 40%;
    margin-right: 2%;
}
.woocommerce-checkout form.login input.button {
    width: 14%;
}
.woocommerce-checkout #payment {
    padding-top: 10px;
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout #payment div.form-row {
    border-bottom: none;
    padding: 1em 0;
}
.woocommerce-checkout #payment ul.payment_methods > li {
    padding: 25px 0 0;
    border-top: 1px solid #f0f0f0;
}
.woocommerce-checkout #payment ul.payment_methods > li:last-child {
    border-bottom: 1px solid #f0f0f0;
}
.woocommerce-checkout #payment ul.payment_methods > li label {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
}
.woocommerce-checkout #payment div.payment_box {
    margin: 0;
    border-radius: 0;
    border-top: 1px solid #f0f0f0;
    padding: 2em;
    background-color: #fafafa;
    color: #7b7773;
}
.woocommerce-checkout #payment .payment_method_paypal div.payment_box {
    text-align: center;
}
.woocommerce-checkout #payment div.payment_box:before {
    content: none;
    display: none;
}
.payment_method_paypal label {
    text-indent: -9999px;
    background: url('../images/paypal-logo.jpg') no-repeat left 5px;
    width: 106px;
    height: 34px;
}
.payment_method_stripe label img {
    display: none;
}
li.payment_method_stripe label {
    background: url('../images/credit_cards.jpg') no-repeat right top;
    width: 94%;
}
.woocommerce-checkout #payment .payment_method_paypal img {
    max-height: 100%;
}
.payment_method_paypal label img,
.payment_method_paypal label a {
    display: none;
}
.form-row.place-order .terms input[type=checkbox] {
    float: left;
    margin-right: 10px;
}
.form-row.place-order .terms label {
    font-weight: 400;
}
.woocommerce .form-row input.input-text,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1;
    border: 1px solid #000;
    padding: 9px 10px 6px;
}
.woocommerce-checkout .form-row-first,
.woocommerce-checkout .form-row-last {
    float: left;
    width: 47%;
    overflow: visible;
}
.woocommerce-checkout .form-row-last {
    float: right;
}
.cart-discount th span {
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 30px;
}
.woocommerce-remove-coupon {
    color: #880f0f;
}
.thankp {
    margin: 20px 0 30px;
}
.order_details {
    padding: 0;
}
.wc_avatax_validate_address {
    margin-bottom: 10px;
}
