.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-family: $text-font;
    font-weight: normal;
    color: #fff;
    border-radius: 0;
    padding: 13px 20px;
    font-size: 14px;
    background-color: $headings-primary;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: lighten($headings-primary, 10%);
    color: #fff;
}
.single.woocommerce .summary.entry-summary button.button,
.single.woocommerce .summary.entry-summary .button,
.single.woocommerce input.button {
    padding: 16px 20px;
    font-size: 18px;
}
.woocommerce .summary.entry-summary .button {
    padding: 0.929em 1em;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    background-color: #fff;
    border: none;
    color: #000;
    margin: 0 !important;
}
.woocommerce .products ul, .woocommerce ul.products {
    padding: 2em 0;
    min-height: 430px;
}
.woocommerce .products .star-rating {
    margin: 0 auto .5em;
}
.woocommerce .star-rating span {
    color: #ffd100;
}
.star-rating-selector:not(:checked) label.checkbox:hover, .star-rating-selector:not(:checked) label.checkbox:hover ~ label.checkbox {
    color: #ffd100;
}
.woocommerce #reviews .product-rating .product-rating-details table td.rating-graph .bar, .woocommerce-page #reviews .product-rating .product-rating-details table td.rating-graph .bar {
    background-color: #ffd100;
}
.woocommerce ul.products li.product .price {
    color: $headings-primary;
    background: #fff;
    padding: 3px;
    display: inline-block;
    font-size: 18px;
    font-family: $text-font;
    font-weight: 700;
}
.main.fullwidth .page-header {
    margin-bottom: 10px;
}
.cart .page-header, .single.woocommerce .page-header, .edit-my-list .page-header {
    margin-bottom: 0;
}
body.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
}
body.woocommerce.post-type-archive ul.products li.product,
.woocommerce-page.post-type-archive ul.products li.product,
body.woocommerce.tax-product_cat ul.products li.product {
    margin: 0 10% 2.992em 0;
    width: 26.6%;
}
body.woocommerce.post-type-archive ul.products li.last,
.woocommerce-page.post-type-archive ul.products li.last,
body.woocommerce.tax-product_cat ul.products li.last {
    margin-right: 0;
}
body.archive.woocommerce .main .page-title {
    float: left;
}
.woocommerce nav.woocommerce-pagination {
    float: none;
}
body.single-product  .main > .product {
    border-top: 2px solid $headings-primary;
    padding-top: 50px;
}
.woocommerce span.onsale {
    display: none;
}
.woocommerce-page  .woocommerce-tabs.wc-tabs-wrapper {
    float: right;
    width: 48%;
    clear: none !important;
}
.related.products {
    clear: both;
}
.account-downloads a {
    color: $headings-primary;
}
.digital-downloads .category_block {
    width: 50%;
    float: left;
}
.tag_block {
    width: 50%;
    float: left;
}
.tag_block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.woocommerce table.shop_table,
.woocommerce table.shop_table.wl-table {
    max-width: 800px;
    border-radius: 0;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}
.woocommerce table.shop_table thead th,
.woocommerce table.shop_table.wl-table thead th  {
    padding: 20px 12px;
    background-color: #f0f0f0;
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table.wl-table td {
    border: 1px solid #000;
    border-collapse: collapse;
    vertical-align: middle;
}
.woocommerce table.my_account_orders .order-actions {
    text-align: center;
}
// login page
#customer_login .col-1 {
    float: right;
}
#customer_login .col-2 {
    float: left;
}
#customer_login h2 {
    margin: 0;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: none;
    padding: 0;
    margin: 1em 0;
    text-align: left;
    border-radius: 0;
}
.woocommerce form.login,
.woocommerce form.register {
    width: 50%;
    float: left;
}
.woocommerce form .form-row a {
    color: $headings-primary;
}
.woocommerce form .form-row .button {
    margin: 10px 0;
}
.woocommerce form .form-row small {
    float: right;
    margin: 20px 0;
}

// category
.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
    margin: 15px 10px;
    float: right;
}
.itemsorder, .itemsorder h3 {
    float: right;
    margin-left: 20px;
}
.woocommerce-ordering select,
.itemsorder select {
    padding: 5px;
}
.berocket_aapf_widget  {
    padding: 0;
}
/* pagination */
.gray {
    background: #f0f0f0;
    margin: 20px auto;
    height: 50px;
    max-width: 100%;
}
.gray .main {
    margin: 0 auto;
    float: none;
}
.woocommerce nav.woocommerce-pagination {
    font-size: 24px;
}
.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
    border: none;
    background: transparent;
}
.woocommerce nav.woocommerce-pagination ul li a {
    color: $headings-primary;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: none;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
    font-weight: 600;
    font-size: 30px;
    line-height: 0.6;
}
.prev.page-numbers:before, .next.page-numbers:after {
    content: "\e079";
    font-size: 30px;
    font-family: 'Glyphicons Halflings';
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: 0.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
}
.next.page-numbers:after {
    content: "\e080";
    float: right;
}

/* search box */
.woocommerce-product-search {
    float: right;
    font-size: 14px;
    position: relative;
    border: 1px solid #f0f0f0;
}
.woocommerce-product-search input {
    padding: 10px 8px 6px;
    border: none;
    float: left;
    &::-webkit-input-placeholder {color:#000;}
    &::-moz-placeholder          {color:#000;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#000;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#000;}
}
.woocommerce-product-search input[type="search"] {
    padding-right: 30px;
}
.woocommerce-product-search input[type="submit"] {
    background: none;
    text-indent: -9999px;
    position: absolute;
    right: 0;
    width: 20px;
}
.woocommerce-product-search:after {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 8px;
    top: 9px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e003";
}
/* single */
.woocommerce div.product .product_title {
    font-weight: 900;
}

div[itemprop="offers"] {
    float: left;
    border: 1px solid #000;
    padding: 7px 20px;
    margin-right: 20px;
}
#wl-wrapper.wl-button-wrap {
    clear: none;
    padding: 0;
    width: 245px;
    float: left;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $headings-primary;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}
#wl-wrapper .wl-add-but {
    margin-left: 20px;
}
.wl-already-in {
    margin-left: 20px;
    float: left;
}
.wl-already-in ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tagged_as a,
.posted_in a,
.summary.entry-summary div[itemprop=description] p {
    font-style: italic;
    color: #7c7c7c;
    font-size: 18px;
    font-weight: 500;
}
div[itemprop="description"] {
    margin-bottom: 50px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,
#wl-wrapper .woocommerce-tabs ul.tabs {
    background: none;
    padding: 0 0 0 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
#wl-wrapper .woocommerce-tabs ul.tabs:before {
    border-bottom: 1px solid #000;
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
#wl-wrapper .woocommerce-tabs ul.tabs li {
    border: 1px solid #000;
    border-radius: 0;
    padding: 0 1em;
    background-color: #ebe9eb;
    margin-top: 7px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
#wl-wrapper .woocommerce-tabs ul.tabs li a {
    color: $headings-primary;
    padding: .3em 0 .5em !important;
    border: none;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.reviews_tab a:after {
    content: url('../images/review-icon.png');
    margin: 0px 0 0 7px;
}
#wl-wrapper .woocommerce-tabs ul.tabs li.active,
{
    background: #fff;
    z-index: 2;
    border-bottom-color: #fff;
    margin-top: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
#wl-wrapper .woocommerce-tabs ul.tabs li.active a {
    padding: .8em 0 .5em !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
#wl-wrapper .woocommerce-tabs ul.tabs li:after,
#wl-wrapper .woocommerce-tabs ul.tabs li:before {
    content: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
#wl-wrapper .woocommerce-tabs ul.tabs li a:hover {
    color: inherit;
}
.woocommerce div.product .woocommerce-tabs .panel {
    box-shadow: none;
    font-size: 18px;
    line-height: 24px;
}
.single-product .brown .content.row {
    padding: 20px 15px;
}
.single-product .brown .main {
    padding: 0;
}
.woocommerce .brown .products ul, .woocommerce .brown ul.products {
    padding: 2em 0 0;
    margin: 0;
}
.related {
    margin: 40px 0 10px;
    float: left;
}
.related h2 {
    color: $headings-primary;
    margin: 1em 0 1em;
}

/* cart page */
.gotoshop {
    color: $headings-primary;
    margin: 0 0 30px;
    display: block;
}
.gotoshop:before {
    content: url('../images/left_arrow.png');
    margin-right: 15px;
}
.woocommerce table.shop_table.special,
.woocommerce table.shop_table.wl-table {
    max-width: 100%;
    border: 1px solid #f0f0f0;
    border-right: none;
    border-left: none;
    text-align: left;
}
.woocommerce table.shop_table.special thead th,
.woocommerce table.shop_table.wl-table thead th {
    background-color: transparent;
    min-width: 100px;
}
.woocommerce table.shop_table.special td,
.woocommerce table.shop_table.wl-table td {
    border: 1px solid #f0f0f0;
    border-right: none;
    border-left: none;
}
.woocommerce table.shop_table.special .actions .button,
.woocommerce table.shop_table.wl-table .actions .button {
    background-color: #5c5c5c;
}
.woocommerce-cart table.special td.actions .coupon .input-text {
    padding: 10px 10px;
    line-height: 18px;
    font-size: 13px;
}
.woocommerce-cart table.special img {
    width: 100px;
}
.woocommerce-cart table.special .product-name a {
    margin-right: 20px;
    color: $headings-primary;
}
.woocommerce a.remove {
    background: #5c5c5c;
    border-radius: 0;
    color: #fff !important;
    line-height: 1;
    float: right;
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.woocommerce a.remove:hover {
    color: $headings-primary !important;
    background: #5c5c5c;
}
.woocommerce .product-name {
    width: 700px;
}
.woocommerce table.shop_table.special .cart_totals > table,
.cart_totals .wc-proceed-to-checkout {
    float: right;
    border: none;
    margin-left: 20px;
}
.woocommerce table.shop_table.special .cart_totals > table td,
.woocommerce table.shop_table.special .cart_totals > table th {
    border: none;
}
/* wishlist page */
.woocommerce .quantity .qty {
    min-width: auto;
    width: 5em;
}
